<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel" >
          <h4 *ngIf="!email.valid && email.touched" class="warning">Please provide a valid Password</h4>
        </div>
        <div class="form-group">
          <label for="subscriptionType">Subscription Type</label>
          <select name="subscriptionType" class="form-control" id="subscriptionType" [ngModel]="defaultSubscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advance</option>
            <option value="pro">pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" #pwd="ngModel" ngModel required>
          <h4 *ngIf="!pwd.valid && pwd.touched" class="warning">Please provide a valid Password</h4>
        </div><button 
        class="btn btn-primary" 
        type="submit"
        [disabled]="!form.valid"
        >Submit</button>
      </form>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="form-group" *ngIf="submitted">
      <h2>your submitted data</h2>
      <p>Emai: {{data.email}} </p>
      <p>Subscription type: {{data.subscriptionType}} </p>
      <p>Password (do not share it): {{data.password}} </p>
    </div>
  </div>
</div>
